body {
    font-family: 'Bruno Ace', cursive;
    height: 100vh;
    width: 100vw;
    background-color:black;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#board{
    display: grid;
    grid-template-columns: repeat(3,20vmin);
    grid-template-rows: repeat(3,20vmin);
    background-color:#003049;
    gap:1vmin;
    margin:2vmin;
   
}

#board > div{
    height: 20vmin;
    width: 20vmin;
    border-style: groove;
    
}

button{
font-size: 25px;
margin-top: 2vmin;
padding:2vmin;
color:black;
border-radius: 15%;
background-color: white;
font-family: 'Bruno Ace', cursive;
}

button:hover{
    font-size: 50px;
    transition: 140ms;
    cursor: pointer;
    background-color: palevioletred;
    color: white;
}

#cellEl{
    text-align: center;
    font-size: 50px;
    
    font-family: 'Bruno Ace', cursive;
}

#message{
    color: white;
    text-align: center;
    font-family: 'Bruno Ace', cursive;
}

span{
    color:white;
}

#tic{
    color:#D62828
}
#tac{
    color:white;
}

#toe{
    color:#FCBF49;
}

#tic:hover{
    font-size: 40px;
    transition: 140ms;
  
}

#tac:hover{
    font-size: 40px;
    transition: 140ms;
  
}

#toe:hover{
    font-size: 40px;
    transition: 140ms;
  
}