body {
    font-family: 'Bruno Ace', cursive;
    height: 100vh;
    width: 100vw;
    background-color:black;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    

}

.display{
    display: inline-flex;
}
header{
    position: relative;
}
#board{
    display: grid;
    grid-template-columns: repeat(3,15vmin);
    grid-template-rows: repeat(3,15vmin);
    background-color:#003049;
    gap:0.5vmin;
    margin:1vmin;
    
   
}

#board > div{
    height: 15vmin;
    width: 15vmin;
    border-style: groove;
    border-radius: 5%;
    border-width: 0.3vmin;
    
}

button{
font-size: 25px;
margin-top: 2vmin;
padding:2vmin;
color:black;
border-radius: 15%;
background-color: white;
font-family: 'Bruno Ace', cursive;
}

button:hover{
    font-size: 2.5rem;
    transition: 140ms;
    cursor: pointer;
    background-color: palevioletred;
    color: white;
}




#message{
    font-size: 4vmin;
    color: white;
    text-align: center;
    font-family: 'Bruno Ace', cursive;
}
h1{
    position: relative;
    font-size: 7vmin;
  
}
span{
    color:white;
}

#tic{
    
    color:#D62828
}
#tac{
    color:white;
}

#toe{
    color:#FCBF49;
}

#tic:hover{
    font-size: 12vmin;
    transition: 800ms ease-in;
  
}

#tac:hover{
    font-size: 12vmin;
    transition: 800ms;
  
}

#toe:hover{
    font-size: 12vmin;
    transition: 600ms;
  
}

p{
   
    text-align: center;
    font-size: 5vmin;
}
p:hover{
    
    transition: 800ms ease-in-out;
    color:blue;
}

#xPointsDiv{
    padding: 10vmin;
    display: inline;
    color:white;
    
    
}
#oPointsDiv{
    padding: 10vmin;
    display: inline;
    color:white;


}

#message:hover{
    cursor: pointer;
    font-size: 5vmin;
    transition: 140ms;
}

#xPointsHeader{
    font-size: 3vmin;
    padding-right: 2vmin;
}

#oPointsHeader{
    font-size: 3vmin;
    padding-left: 2vmin;
}

#board > div > h1{
    text-align: center;
    font-size: 7vmin;
  


}


#board >div > h1:hover{
    position: center;
    padding-bottom: 50px;
    text-align: center;
    transform:scale(1.2);
 
    font-family: 'Bruno Ace', cursive;
    
   
}