body {
    font-family: 'Bruno Ace', cursive;
    height: 100vh;
    width: 100vw;
    background-color:black;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



#board{
    display: grid;
    grid-template-columns: repeat(3,20vmin);
    grid-template-rows: repeat(3,20vmin);
    background-color:#003049;
    gap:1vmin;
    margin:2vmin;
    
   
}

#board > div{
    height: 20vmin;
    width: 20vmin;
    border-style: groove;
    border-radius: 5%;
    border-width: 0.3vmin;
    
}

button{
font-size: 25px;
margin-top: 2vmin;
padding:2vmin;
color:black;
border-radius: 15%;
background-color: white;
font-family: 'Bruno Ace', cursive;
}

button:hover{
    font-size: 2.5rem;
    transition: 140ms;
    cursor: pointer;
    background-color: palevioletred;
    color: white;
}


#boxEl > h1{
    text-align: center;
    font-size: 9vmin;
    font-family: 'Bruno Ace', cursive;

   
}

#boxEl > h1:hover{
    position: center;
    padding-bottom: 50px;
    text-align: center;
    transform:scale(2.2);
    transition: 150ms ease-in;
    font-family: 'Bruno Ace', cursive;
    
   
}

#message{
    font-size: 4vmin;
    color: white;
    text-align: center;
    font-family: 'Bruno Ace', cursive;
}
h1{
    font-size: 10vmin;
}
span{
    color:white;
}

#tic{
    color:#D62828
}
#tac{
    color:white;
}

#toe{
    color:#FCBF49;
}

#tic:hover{
    font-size: 5rem;
    transition: 500ms;
  
}

#tac:hover{
    font-size: 5rem;
    transition: 500ms;
  
}

#toe:hover{
    font-size: 5rem;
    transition: 500ms;
  
}

p{
    text-align: center;
    font-size: 5vmin;
}